<div class="d-flex flex-column align-items-center w-100">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="form-label w-100">
    <%= f.label :username %><br />
   <input class="w-100" <%= f.text_field :username %>
  </div>

   <div class="form-label w-100">
    <%= f.label :name %><br />
    <input class="w-100" <%= f.text_field :name %>
  </div>


   <div class="form-label w-100">
    <%= f.label :lastname %><br />
    <input class="w-100" <%= f.text_field :lastname %>
  </div>

  <div class="form-label w-100">
    <%= f.label :email %><br />
    <input class="w-100"  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com"%>
  </div>

  <div class="form-label w-100">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <input class="w-100" <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-label w-100">
    <%= f.label :password_confirmation %><br />
    <input class="w-100"  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions d-flex justify-content-center w-100 pt-2 pb-2">
  <%= f.submit "Sign up", class: "btn btn-success w-75" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>


